﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Main Information -->
<section>
    <div class="container">
        <div class="productDetails">
            <div class="row">
                <!-- Product Image -->
                <div class="col-md-7 order-md-1 col-lg-8 pr-0">
                    <div class="container-fluid">
                        <!-- Product Name -->
                        <div class="row ">
                            <div class="col-11">
                                <h1 class="productName">
                                    Iran 1878/1938 - Iran full album from 1878 to 1938 - Scott 65-75,88-90, 122-129,
                                    245-249,304-309
                                </h1>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <!-- Product Code -->
                        <p>LOT 42983241</p>
                        <!-- Slider Product -->
                        <div class="row sliderProduct">
                            <div class="col-12">
                                <div id="carouselProduct" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/profile/041a7345213220703b8f83bb00a44ea4-700.jpg"
                                                 class="rounded mx-auto d-block img-fluid sliderPhoto" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/images/profile/baed1c59d593c2668151c8f47f1f698a-700.jpg"
                                                 class="rounded mx-auto d-block img-fluid sliderPhoto" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/images/profile/2f09e4a0a7fb09aeacc5a0b82eb9f0a9-700.jpg"
                                                 class="rounded mx-auto d-block img-fluid sliderPhoto" alt="...">
                                        </div>
                                    </div>
                                    <!-- Button Prev -->
                                    <a class="carousel-control-prev" href="#carouselProduct" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <!-- Button Next -->
                                    <a class="carousel-control-next" href="#carouselProduct" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div><br />
                        @*-- Thumbnail Image Product--*@
                        <div class="row thumbnailImageProduct">
                            <div class="col-12 d-flex justify-content-center">
                                <ul class="p-0">
                                    <li data-target="#carouselProduct" data-slide-to="0" class="active">
                                        <img src="/images/profile/041a7345213220703b8f83bb00a44ea4-700.jpg"
                                             class="d-block img-thumbnail thumbnailImage" alt="...">
                                    </li>
                                    <li data-target="#carouselProduct" data-slide-to="1">
                                        <img src="/images/profile/baed1c59d593c2668151c8f47f1f698a-700.jpg"
                                             class="d-block img-thumbnail thumbnailImage" alt="...">
                                    </li>
                                    <li data-target="#carouselProduct" data-slide-to="2">
                                        <img src="/images/profile/2f09e4a0a7fb09aeacc5a0b82eb9f0a9-700.jpg"
                                             class="d-block img-thumbnail thumbnailImage" alt="...">
                                    </li>
                                    <li data-target="#carouselProduct" data-slide-to="0" class="active">
                                        <img src="/images/profile/041a7345213220703b8f83bb00a44ea4-700.jpg"
                                             class="d-block img-thumbnail thumbnailImage" alt="...">
                                    </li>
                                    <li data-target="#carouselProduct" data-slide-to="1">
                                        <img src="/images/profile/baed1c59d593c2668151c8f47f1f698a-700.jpg"
                                             class="d-block img-thumbnail thumbnailImage" alt="...">
                                    </li>
                                    <li data-target="#carouselProduct" data-slide-to="2">
                                        <img src="/images/profile/2f09e4a0a7fb09aeacc5a0b82eb9f0a9-700.jpg"
                                             class="d-block img-thumbnail thumbnailImage" alt="...">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @*-- Product Information --*@
                <div class="col-md-5 order-md-2 col-lg-4">
                    <div class="container-fluid">
                        @*-- Main Information --*@
                        <div class="row d-flex justify-content-center borderInformation">
                            <!-- Bid Time -->
                            <div class="col bidTime">
                                <strong class="closesIn">Closes in </strong>
                                <time><span class="timeBid">2d 23h 28m 22s</span></time>
                                <p class="notBid">You haven't bid on this lot yet.</p>
                            </div>
                            <hr />
                            @*-- Current bid --*@
                            <div class="col bid currentBid">
                                <div class="titleBid"><span class="textSubject">Current bid € 46</span></div>
                                <div>
                                    <p class="nRPrice">No reserve price</p>
                                </div>
                            </div>
                            <hr />
                            @*-- Next minimum bid --*@
                            <div class="col bid">
                                <div class="titleBid"><span class="textSubject">Next minimum bid € 51</span></div>
                                <div class="notFee">
                                    <a href="">
                                        Bids exclude the auction fee and (shipping)
                                        costs.
                                    </a>
                                </div>
                                <div class="sellerLocation">
                                    <span class="locationName">
                                        Seller's location: <b>The Netherlands</b><br />Auction fee:
                                        9% of the winning bid
                                    </span>
                                </div>
                            </div>
                            <hr />
                            @*-- Quick bid --*@
                            <div class="col bid">
                                <div class="titleBid pb-1"><span class="textSubject">Quick bid</span></div>
                                <div class="row">
                                    <div class="col-4 p-7">
                                        <button type="button" class="btn btn-primary samplePrice">€51</button>
                                    </div>
                                    <div class="col-4 p-7">
                                        <button type="button" class="btn btn-primary samplePrice">€52</button>
                                    </div>
                                    <div class="col-4 p-7">
                                        <button type="button" class="btn btn-primary samplePrice">€53</button>
                                    </div>
                                </div>
                                <div class="titleBid pt-2 pb-1">
                                    <span class="textSubject">Place an automatic bid</span>
                                    <a href="" data-toggle="modal" data-target="#AutomaticBid">
                                        <img src="/images/profile/user.png" alt="" width="14">
                                    </a>
                                    @*-- Modal Place an automatic bid --*@
                                    <div class="modal fade modelBid" id="AutomaticBid" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <b>How do automatic bids work?</b><br />
                                                    <p>
                                                        By setting up an automatic bid, our system will
                                                        automatically
                                                        place
                                                        new
                                                        bids
                                                        on your behalf each time you are outbid. All you need to do
                                                        is
                                                        enter
                                                        the
                                                        maximum price you are willing to bid for an item. Our system
                                                        will
                                                        then
                                                        keep
                                                        on bidding for you, by the smallest possible increase each
                                                        time,
                                                        until
                                                        your
                                                        maximum price is reached.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <form>
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">$</div>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-3 pr-0 pl-0">
                                                <input type="submit" class="btn btn-inverse-success pr-2 pl-2" asp-action="" asp-controller="" value="Place Bid"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr />
                            @*-- Bid History --*@
                            <div class="col bid">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table bidHistory">
                                            <tbody>
                                                <tr>
                                                    <th><span>Bidder 1676 </span></th>
                                                    <th><span>28-11-202021:29:50</span></th>
                                                    <th><span>€ 46</span></th>
                                                </tr>
                                                <tr>
                                                    <td><span>Bidder 1676 </span></td>
                                                    <td><span>28-11-202021:29:50</span></td>
                                                    <td><span>€ 46</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span>Bidder 1676 </span></td>
                                                    <td><span>28-11-202021:29:50</span></td>
                                                    <td><span>€ 46</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span>Bidder 1676 </span></td>
                                                    <td><span>28-11-202021:29:50</span></td>
                                                    <td><span>€ 46</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span>Bidder 1676 </span></td>
                                                    <td><span>28-11-202021:29:50</span></td>
                                                    <td><span>€ 46</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span>Bidder 1676 </span></td>
                                                    <td><span>28-11-202021:29:50</span></td>
                                                    <td><span>€ 46</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <a href="" data-toggle="modal" data-target="#BidHistotyModal">
                                    <span style="font-size: 15px;">
                                        View all
                                        bids
                                    </span>
                                </a>
                                @*-- Modal History --*@
                                <div class="modal fade modelBid" id="BidHistotyModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content ">
                                            <div class="modal-header">
                                                <span class="modal-title">Bid History</span>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <th><span>Bidder 1676 </span></th>
                                                            <th><span>28-11-202021:29:50</span></th>
                                                            <th><span>€ 46</span></th>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Bidder 1676 </span></td>
                                                            <td><span>28-11-202021:29:50</span></td>
                                                            <td><span>€ 46</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Bidder 1676 </span></td>
                                                            <td><span>28-11-202021:29:50</span></td>
                                                            <td><span>€ 46</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Bidder 1676 </span></td>
                                                            <td><span>28-11-202021:29:50</span></td>
                                                            <td><span>€ 46</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Bidder 1676 </span></td>
                                                            <td><span>28-11-202021:29:50</span></td>
                                                            <td><span>€ 46</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Bidder 1676 </span></td>
                                                            <td><span>28-11-202021:29:50</span></td>
                                                            <td><span>€ 46</span></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
@*-- Orther Information --*@
<section>
    <div class="container">
        <div class="productDetails">
            <div class="row">
                @*-- Product Image --*@
                <div class="col-md-7 order-md-1 col-lg-8">
                    <div class="container-fluid">
                        @*-- Our Experts, Seller --*@
                        <div class="row d-flex justify-content-center">
                            @*-- Our experts --*@
                            <div class="col-4">
                                <div class="ourExpertsSeller">
                                    <p class="text-uppercase">Our experts</p>
                                </div>
                                <div class="row author">
                                    <div class="col-auto">
                                        <img src="/images/profile/74335098_922958828104665_2373842146919710720_n.jpg" alt=""
                                             width="60" height="60" class="rounded rounded-circle float-left">
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        <p>Mark Fodden</p>
                                    </div>
                                </div>
                            </div>
                            <hr style="border: none; border-left: 1px solid #919397; height: auto; width: 1px;">
                            @*-- Seller --*@
                            <div class="col-4">
                                <div class="ourExpertsSeller">
                                    <p class="text-uppercase">Seller</p>
                                </div>
                                <div class="row seller d-flex align-items-center  justify-content-center">
                                    <div class="col-auto">
                                        <img src="/images/profile/vietnam.png" alt="" width="30" height="auto"
                                             class="float-left">
                                    </div>
                                    <div class="col-auto sellerName">
                                        <p class="text-muted text-capitalize">
                                            <a href="#" class="text-reset">
                                                Nathan
                                                Nguyen
                                            </a>
                                        </p>
                                    </div>
                                </div><br />
                                <div class="ourExpertsSeller">
                                    <p class="text-center text-lowercase"><i class="far fa-eye"></i> 10 reviews</p>
                                </div>
                            </div>
                        </div><br />
                        @*-- Descriptions, Shipping, Seller --*@
                        <div class="row productDLSS">
                            <div class="col-12">
                                <div class="accordion" id="accordionDLSS">
                                    @*-- Descriptions --*@
                                    <div class="card border-light">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left pl-0" type="button"
                                                        data-toggle="collapse" data-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                    Descriptions
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                             data-parent="#accordionDLSS">
                                            <div class="card-body">
                                                <b>
                                                    Iran 1878/1938 - Iran full album from 1878 to 1938 - Scott
                                                    65-75,88-90,
                                                    122-129,
                                                    245-249,304-309
                                                </b>
                                                <p>
                                                    Cancelled, MH (Mint hinged), MH without gum, MNH (Mint never
                                                    hinged),
                                                    Postal
                                                    used, Used
                                                </p>
                                                A well filled album of Persia with some duplicate material, many
                                                rare
                                                sets
                                                in
                                                used and mint condition. Cancellations of various cities and
                                                different
                                                dates
                                                are
                                                present.
                                            </div>
                                        </div>
                                    </div>
                                    @*-- Shipping --*@
                                    <div class="card border-light">
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed pl-0"
                                                        type="button" data-toggle="collapse"
                                                        data-target="#collapseThree" aria-expanded="false"
                                                        aria-controls="collapseThree">
                                                    Shipping
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#accordionDLSS">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                skateboard
                                                dolor
                                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor,
                                                sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda
                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                                anderson
                                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                                lomo.
                                                Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                                synth
                                                nesciunt
                                                you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    @*-- Seller --*@
                                    <div class="card border-light">
                                        <div class="card-header" id="headingFour">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed pl-0"
                                                        type="button" data-toggle="collapse" data-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                    Seller
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                             data-parent="#accordionDLSS">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                skateboard
                                                dolor
                                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor,
                                                sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda
                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                                anderson
                                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                                lomo.
                                                Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                                synth
                                                nesciunt
                                                you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*-- Product Information --*@
                <div class="col-md-5 order-md-2 col-lg-4">
                    <div class="container-fluid">
                        @*-- Other Information --*@
                        <div class="row d-flex justify-content-center borderInformation">
                            <div class="col bid">
                                @*-- Any questions? --*@
                                <div class="ortherInfo">
                                    <div class="titleBid"><span class="textSubject">Any questions?</span></div>
                                    <div class="notFee"><a href=""><img src="/images/profile/question-mark.png" alt="" width="16"> Get in touch via our Help Centre</a></div>
                                </div>
                                @*-- Buying safely --*@
                                <div class="ortherInfo">
                                    <div class="titleBid"><span class="textSubject">Buying safely</span></div>
                                    <div>
                                        <ul>
                                            <li>
                                                <img src="/images/profile/check.png" alt="" width="15">
                                                <span>
                                                    Your payment is held until after the seller has shipped your
                                                    item
                                                    or
                                                    made
                                                    it
                                                    ready
                                                    for pickup.
                                                </span>
                                            </li>
                                            <li>
                                                <img src="/images/profile/check.png" alt="" width="15">
                                                <span>
                                                    All of our auctions are subject to notarial
                                                    supervision.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                @*-- Payment options --*@
                                <div class="ortherInfo">
                                    <div class="titleBid"><span class="textSubject">Payment options</span></div>
                                    <div class="payment">
                                        <span><img src="/images/profile/visa.png" alt="" width="50"></span>
                                        <span><img src="/images/profile/symbol.png" alt="" width="50"></span>
                                    </div>
                                </div>
                                @*-- Share this lot with your friends --*@
                                <div class="ortherInfo">
                                    <div class="titleBid"><span class="textSubject">Share this lot with your friends</span></div>
                                    <div class="shareLOT">
                                        <span class="badge badge-pill badge-primary mediaInfo">
                                            <a href="">
                                                <i class="fab fa-facebook"></i> Facebook
                                            </a>
                                        </span>
                                        <span class="badge badge-pill badge-danger mediaInfo">
                                            <a href="">
                                                <i class="fab fa-pinterest"></i> Pinterest
                                            </a>
                                        </span>
                                        <span class="badge badge-pill badge-success mediaInfo">
                                            <a href="">
                                                <i class="fab fa-twitter"></i> Twitter
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*-- Similar Lots --*@
<section class="new-art-buynow pt-5 pb-5 py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3">New Art In Your Area</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2 class="mb-3">Products for Buy Now</h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1 naviga" href="#carouselExampleIndicators2" role="button"
                   data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 naviga" href="#carouselExampleIndicators2" role="button"
                   data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p class="card-text">
                                                With supporting text below as a natural lead-in to
                                                additional content.
                                            </p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>