﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile Admin";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            @*------------Admin Information------------*@
            <div class="col-md-2 order-md-1 col-lg-3 userInformation">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-12">
                                            <img src="/images/profile/74335098_922958828104665_2373842146919710720_n.jpg"
                                                 class=" img-fluid card-img-top rounded-circle rounded mx-auto d-block useImage"
                                                 alt="...">
                                        </div>
                                    </div>
                                    <div class="text-center userName">
                                        <p class="font-weight-bold text-capitalize">
                                            nathan nguyen
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body userOrtherInfo ">
                                    @*------------ Gender ------------*@
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0">
                                            <img src="/images/profile/gender-symbols.png" alt=""
                                                 width="20">
                                        </div>
                                        <div class="col-10">Male</div>
                                    </div>
                                    @*------------ Date Of Birthday ------------*@
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0">
                                            <img src="/images/profile/birthday-cake.png" alt=""
                                                 width="20">
                                        </div>
                                        <div class="col-10">10/05/888</div>
                                    </div>
                                    @*------------ Interest ------------*@
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0"><img src="/images/profile/heart.png" alt="" width="20"></div>
                                        <div class="col-10">Art</div>
                                    </div>
                                    @*------------ Email ------------*@
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0"><img src="/images/profile/gmail.png" alt="" width="20"></div>
                                        <div class="col-10">nguyenducanh10051888@gmail.com</div>
                                    </div>
                                    @*------------ Phone Number ------------*@
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0">
                                            <img src="/images/profile/telephone.png" alt="" width="20">
                                        </div>
                                        <div class="col-10">03510873521</div>
                                    </div>
                                    @*------------ Address ------------*@
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0"><img src="/images/profile/map.png" alt="" width="20"></div>
                                        <div class="col-10">
                                            22/78 đường 21 phường 8 Quận Gò Vấp TP. HCM VietNam
                                        </div>
                                    </div>
                                    @*------------ Roles ------------*@
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0"><img src="/images/profile/scrum.png" alt="" width="20"></div>
                                        <div class="col-10">Buyers</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*------------Update Profile------------*@
            <div class="col-md-10 order-md-1 col-lg-9 userAction">
                <div class="container-fluid">
                    <div class="row ml-1 mr-1">
                        <div class="col-12 pl-0 pr-0">
                            <div class="card">
                                <div class="productList">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="mb-3 ml-3">Update Profile</h1>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <form class="pt-3">
                                                    <div class="form-row">
                                                        <div class="form-group col-7">
                                                            <input type="text" class="form-control "
                                                                   id="createuserInputName1" placeholder="Full Name">
                                                        </div>
                                                        <div class="form-group col">
                                                            <input type="tel" class="form-control "
                                                                   id="createuserInputPhone1"
                                                                   placeholder="Phone number">
                                                        </div>
                                                    </div>
                                                    <div class="form-row ">
                                                        <div class="form-group input-group col-5">
                                                            <select class="form-control " id="createuserGender1">
                                                                <option value="" disabled selected>
                                                                    Select Gender
                                                                </option>
                                                                <option value="">
                                                                    Male
                                                                </option>
                                                                <option value="">
                                                                    Female
                                                                </option>
                                                                <option value="">
                                                                    Other
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col">
                                                            <input type="text" class="form-control "
                                                                   onclick="(this.type='date')"
                                                                   id="createuserInputAddress1"
                                                                   placeholder="Day Of Birth">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-6">
                                                            <input type="email" class="form-control "
                                                                   id="createuserInputEmail1" placeholder="Email">
                                                        </div>
                                                        <div class="form-group col">
                                                            <select class="form-control " id="createuserInput4">
                                                                <option value="" disabled selected>
                                                                    Interest
                                                                </option>
                                                                <option value="">
                                                                    Art
                                                                </option>
                                                                <option value="">
                                                                    Book
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col">
                                                            <input type="email" class="form-control " value="Buyer | Seller" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group input-group col">
                                                            <select class="form-control " id="createuserCointry1">
                                                                <option value="" disabled selected>
                                                                    Select Country
                                                                </option>
                                                                <option value="VN">
                                                                    Viet
                                                                    Nam
                                                                </option>
                                                                <option value="US">
                                                                    United State
                                                                </option>
                                                                <option value="Thai">
                                                                    Thai Lan
                                                                </option>
                                                                <option value="JP">
                                                                    Japan
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group input-group col">
                                                            <select class="form-control " id="createuserInput2">
                                                                <option value="" disabled selected>
                                                                    Select State
                                                                </option>
                                                                <option value="State1">
                                                                    State 1
                                                                </option>
                                                                <option value="State2">
                                                                    State 2
                                                                </option>
                                                                <option value="State3">
                                                                    State 3
                                                                </option>
                                                                <option value="State4">
                                                                    State 4
                                                                </option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-5">
                                                            <select class="form-control " id="createuserInput3">
                                                                <option value="" disabled selected>
                                                                    City
                                                                </option>
                                                                <option value="City1">
                                                                    City 1
                                                                </option>
                                                                <option value="City2">
                                                                    City 2
                                                                </option>
                                                                <option value="City3">
                                                                    City 3
                                                                </option>
                                                                <option value="City4">
                                                                    City 4
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col">
                                                            <input type="text" class="form-control "
                                                                   id="exampleInputAddress1" placeholder="Address">
                                                        </div>
                                                    </div>
                                                    <div class="mt-3">
                                                        <input type="submit" class="btn  btn-inverse-success btn-lg font-weight-medium btn-block" asp-action="" asp-controller="" value="Update" />
                                                        <input type="reset" class="btn btn-inverse-info btn-lg font-weight-medium btn-block" value="Reset Form" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
