﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile User";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<section>
    <div class="container">
        <div class="row">
            <!-- User Information -->
            <div class="col-md-2 order-md-1 col-lg-3 userInformation">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 pr-0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-12">
                                            <img src="/images/profile/74335098_922958828104665_2373842146919710720_n.jpg"
                                                 class=" img-fluid card-img-top rounded-circle rounded mx-auto d-block useImage"
                                                 alt="..." width="100">
                                        </div>
                                    </div>
                                    <div class="text-center userName">
                                        <p class="font-weight-bold text-capitalize">
                                            nathan nguyen <a href=""
                                                             data-toggle="modal" data-target="#updateProfileModal">
                                                <img src="/images/profile/feather.png" alt="" width="20">
                                            </a>
                                        </p>
                                        <!-- Modal Update Profile -->
                                        <div class="modal fade" id="updateProfileModal" tabindex="-1"
                                             aria-labelledby="updateProfileModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="updateProfileModalLabel">
                                                            Update
                                                            Profile
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body p-10">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <form class="pt-3">
                                                                        <div class="form-row">
                                                                            <div class="form-group col-7">
                                                                                <input type="text"
                                                                                       class="form-control "
                                                                                       id="createuserInputName1"
                                                                                       placeholder="Full Name">
                                                                            </div>
                                                                            <div class="form-group col">
                                                                                <input type="tel"
                                                                                       class="form-control "
                                                                                       id="createuserInputPhone1"
                                                                                       placeholder="Phone number">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row ">
                                                                            <div class="form-group input-group col-5">
                                                                                <select class="form-control "
                                                                                        id="createuserGender1">
                                                                                    <option value="" disabled
                                                                                            selected>
                                                                                        Select Gender
                                                                                    </option>
                                                                                    <option value="">
                                                                                        Male
                                                                                    </option>
                                                                                    <option value="">
                                                                                        Female
                                                                                    </option>
                                                                                    <option value="">
                                                                                        Other
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group col">
                                                                                <input type="text"
                                                                                       class="form-control "
                                                                                       onclick="(this.type='date')"
                                                                                       id="createuserInputAddress1"
                                                                                       placeholder="Day Of Birth">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-7">
                                                                                <input type="email"
                                                                                       class="form-control "
                                                                                       id="createuserInputEmail1"
                                                                                       placeholder="Email">
                                                                            </div>
                                                                            <div class="form-group col">
                                                                                <input type="text"
                                                                                       class="form-control "
                                                                                       id="createuserInputEmail1"
                                                                                       value="Buyer | Seller" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group input-group col">
                                                                                <select class="form-control "
                                                                                        id="createuserCointry1">
                                                                                    <option value="" disabled
                                                                                            selected>
                                                                                        Select Country
                                                                                    </option>
                                                                                    <option value="VN">
                                                                                        Viet
                                                                                        Nam
                                                                                    </option>
                                                                                    <option value="US">
                                                                                        United State
                                                                                    </option>
                                                                                    <option value="Thai">
                                                                                        Thai Lan
                                                                                    </option>
                                                                                    <option value="JP">
                                                                                        Japan
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group input-group col">
                                                                                <select class="form-control "
                                                                                        id="createuserInput2">
                                                                                    <option value="" disabled
                                                                                            selected>
                                                                                        Select State
                                                                                    </option>
                                                                                    <option value="State1">
                                                                                        State 1
                                                                                    </option>
                                                                                    <option value="State2">
                                                                                        State 2
                                                                                    </option>
                                                                                    <option value="State3">
                                                                                        State 3
                                                                                    </option>
                                                                                    <option value="State4">
                                                                                        State 4
                                                                                    </option>

                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-5">
                                                                                <select class="form-control "
                                                                                        id="createuserInput3">
                                                                                    <option value="" disabled
                                                                                            selected>
                                                                                        City
                                                                                    </option>
                                                                                    <option value="City1">
                                                                                        City 1
                                                                                    </option>
                                                                                    <option value="City2">
                                                                                        City 2
                                                                                    </option>
                                                                                    <option value="City3">
                                                                                        City 3
                                                                                    </option>
                                                                                    <option value="City4">
                                                                                        City 4
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group col">
                                                                                <input type="text"
                                                                                       class="form-control "
                                                                                       id="exampleInputAddress1"
                                                                                       placeholder="Address">
                                                                            </div>
                                                                        </div>
                                                                        <div class="mt-3">
                                                                            <a class="btn  btn-inverse-success btn-lg font-weight-medium btn-block"
                                                                               href="../../index.html">Create</a>
                                                                            <a class="btn  btn-inverse-info btn-lg font-weight-medium btn-block"
                                                                               asp-controller="Admin"
                                                                               asp-action="CreateUser">
                                                                                Reset
                                                                                Form
                                                                            </a>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body userOrtherInfo ">
                                    <!-- Gender -->
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0">
                                            <img src="/images/profile/gender-symbols.png" alt=""
                                                 width="20">
                                        </div>
                                        <div class="col-10">Male</div>
                                    </div>
                                    <!-- Date Of Birthday -->
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0">
                                            <img src="/images/profile/birthday-cake.png" alt=""
                                                 width="20">
                                        </div>
                                        <div class="col-10">10/05/888</div>
                                    </div>
                                    <!-- Interest -->
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0"><img src="/images/profile/heart.png" alt="" width="20"></div>
                                        <div class="col-10">Art</div>
                                    </div>
                                    <!-- Email -->
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0"><img src="/images/profile/gmail.png" alt="" width="20"></div>
                                        <div class="col-10">nguyenducanh10051888@gmail.com</div>
                                    </div>
                                    <!-- Phone Number -->
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0">
                                            <img src="/images/profile/telephone.png" alt="" width="20">
                                        </div>
                                        <div class="col-10">03510873521</div>
                                    </div>
                                    <!-- Address -->
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0"><img src="/images/profile/map.png" alt="" width="20"></div>
                                        <div class="col-10">
                                            22/78 đường 21 phường 8 Quận Gò Vấp TP. HCM VietNam
                                        </div>
                                    </div>
                                    <!-- Roles -->
                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 pr-0"><img src="/images/profile/scrum.png" alt="" width="20"></div>
                                        <div class="col-10">Buyers</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Information On The Website -->
            <div class="col-md-10 order-md-1 col-lg-9 userAction">
                <div class="container-fluid">
                    <div class="row ml-1 mr-1">
                        <div class="col-12 pl-0 pr-0">
                            <div class="card">
                                <!-- Product List -->
                                <div class="productList">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12 order-md-1 col-lg-12 pr-0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h1 class="mb-3 ml-3">Product </h1>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col">
                                                                <table class="table text-center">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">No.</th>
                                                                            <th scope="col">Photo</th>
                                                                            <th scope="col">Product Name</th>
                                                                            <th scope="col">Artist</th>
                                                                            <th scope="col">Bid Price</th>
                                                                            <th scope="col">Fixed Price</th>
                                                                            <th scope="col">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="align-middle" scope="row">1</th>
                                                                            <td class="align-middle">
                                                                                <img src="/images/profile/1.jpg"
                                                                                     class="img-fluid" alt="" width="30">
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                Marc Chagall - The Jerusalem
                                                                                Windows -
                                                                                1962
                                                                            </td>
                                                                            <td class="align-middle"> Nathan Nguyen</td>
                                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                                            <td class="align-middle"><b>$ 400</b></td>
                                                                            <td class="align-middle">
                                                                                <a href="">
                                                                                    <button type="button"
                                                                                            class="btn btn-inverse-info btn-sm">
                                                                                        Details
                                                                                    </button>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="align-middle" scope="row">2</th>
                                                                            <td class="align-middle">
                                                                                <img src="/images/profile/2.jpg"
                                                                                     class="img-fluid" alt="" width="30">
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                Marc Chagall - The Jerusalem
                                                                                Windows -
                                                                                1962
                                                                            </td>
                                                                            <td class="align-middle">Nathan Nguyen</td>
                                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                                            <td class="align-middle"><b>$ 400</b></td>
                                                                            <td class="align-middle">
                                                                                <a href="">
                                                                                    <button type="button"
                                                                                            class="btn btn-inverse-info btn-sm">
                                                                                        Details
                                                                                    </button>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="align-middle" scope="row">3</th>
                                                                            <td class="align-middle">
                                                                                <img src="/images/profile/3.jpg"
                                                                                     class="img-fluid" alt="" width="30">
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                Marc Chagall - The Jerusalem
                                                                                Windows -
                                                                                1962
                                                                            </td>
                                                                            <td class="align-middle">Nathan Nguyen</td>
                                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                                            <td class="align-middle"><b>$ 400</b></td>
                                                                            <td class="align-middle">
                                                                                <a href="">
                                                                                    <button type="button"
                                                                                            class="btn btn-inverse-info btn-sm">
                                                                                        Details
                                                                                    </button>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="col-6 text-left">
                                                                <a href="">
                                                                    <button type="button" class="btn btn-primary">
                                                                        See More
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Auction History -->
                                <div class="auctionHistory">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="mb-3 ml-3">Auction History </h1>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table text-center">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">No.</th>
                                                            <th scope="col">Photo</th>
                                                            <th scope="col">Product Name</th>
                                                            <th scope="col">Bid</th>
                                                            <th scope="col">Create At</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th class="align-middle" scope="row">1</th>
                                                            <td class="align-middle">
                                                                <img src="/images/profile/1.jpg"
                                                                     class="img-fluid" alt="" width="30">
                                                            </td>
                                                            <td class="align-middle">
                                                                Marc Chagall - The Jerusalem
                                                                Windows -
                                                                1962
                                                            </td>
                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                            <td class="align-middle">10/2/2017</td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button"
                                                                            class="btn btn-inverse-info btn-sm">
                                                                        Details
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="align-middle" scope="row">2</th>
                                                            <td class="align-middle">
                                                                <img src="/images/profile/2.jpg"
                                                                     class="img-fluid" alt="" width="30">
                                                            </td>
                                                            <td class="align-middle">
                                                                Marc Chagall - The Jerusalem
                                                                Windows -
                                                                1962
                                                            </td>
                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                            <td class="align-middle">10/2/2017</td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button"
                                                                            class="btn btn-inverse-info btn-sm">
                                                                        Details
                                                                    </button>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th class="align-middle" scope="row">3</th>
                                                            <td class="align-middle">
                                                                <img src="/images/profile/3.jpg"
                                                                     class="img-fluid" alt="" width="30">
                                                            </td>
                                                            <td class="align-middle">
                                                                Marc Chagall - The Jerusalem
                                                                Windows -
                                                                1962
                                                            </td>
                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                            <td class="align-middle">10/2/2017</td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button"
                                                                            class="btn btn-inverse-info btn-sm">
                                                                        Details
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-6 text-left">
                                                <a href="">
                                                    <button type="button" class="btn btn-primary">
                                                        See More
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Invoices -->
                                <div class="invoices">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="mb-3 ml-3">Invoices </h1>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table text-center">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">No.</th>
                                                            <th scope="col">Photo</th>
                                                            <th scope="col">Product Name</th>
                                                            <th scope="col">Seller Name</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th class="align-middle" scope="row">1</th>
                                                            <td class="align-middle">
                                                                <img src="/images/profile/1.jpg"
                                                                     class="img-fluid" alt="" width="30">
                                                            </td>
                                                            <td class="align-middle">
                                                                Marc Chagall - The Jerusalem
                                                                Windows -
                                                                1962
                                                            </td>
                                                            <td class="align-middle"> Nathan Nguyen</td>
                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button"
                                                                            class="btn btn-inverse-info btn-sm">
                                                                        Details
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="align-middle" scope="row">2</th>
                                                            <td class="align-middle">
                                                                <img src="/images/profile/2.jpg"
                                                                     class="img-fluid" alt="" width="30">
                                                            </td>
                                                            <td class="align-middle">
                                                                Marc Chagall - The Jerusalem
                                                                Windows -
                                                                1962
                                                            </td>
                                                            <td class="align-middle">Nathan Nguyen</td>
                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button"
                                                                            class="btn btn-inverse-info btn-sm">
                                                                        Details
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="align-middle" scope="row">3</th>
                                                            <td class="align-middle">
                                                                <img src="/images/profile/3.jpg"
                                                                     class="img-fluid" alt="" width="30">
                                                            </td>
                                                            <td class="align-middle">
                                                                Marc Chagall - The Jerusalem
                                                                Windows -
                                                                1962
                                                            </td>
                                                            <td class="align-middle">Nathan Nguyen</td>
                                                            <td class="align-middle"><b>$ 3000</b></td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button"
                                                                            class="btn btn-inverse-info btn-sm">
                                                                        Details
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-6 text-left">
                                                <a href="">
                                                    <button type="button" class="btn btn-primary">
                                                        See More
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Wish Lists -->
                                <div class="wishLists">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="mb-3 ml-3">Wish Lists</h1>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table text-center">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">No.</th>
                                                            <th scope="col">Artwork You Required</th>
                                                            <th scope="col">Results Found</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th class="align-middle" scope="row">1</th>
                                                            <td class="align-middle">Mark</td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button" class="btn btn-success">
                                                                        See
                                                                        Product
                                                                    </button>
                                                                </a>
                                                                <button type="button"
                                                                        class="btn btn-danger">
                                                                    Products
                                                                    Not Available
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="align-middle" scope="row">2</th>
                                                            <td class="align-middle">Jacob</td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button" class="btn btn-success">
                                                                        See
                                                                        Product
                                                                    </button>
                                                                </a>
                                                                <button type="button"
                                                                        class="btn btn-danger">
                                                                    Products
                                                                    Not Available
                                                                </button></a>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Larry</td>
                                                            <td class="align-middle">
                                                                <a href="">
                                                                    <button type="button" class="btn btn-success">
                                                                        See
                                                                        Product
                                                                    </button>
                                                                </a>
                                                                <button type="button"
                                                                        class="btn btn-danger">
                                                                    Products
                                                                    Not Available
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-6 text-left">
                                                <a href="">
                                                    <button type="button" class="btn btn-primary">
                                                        See More
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>