﻿

hr {
    margin: 0;
    width: 100%;
    color: #DDDDDD;
    background-color: #DDDDDD;
}

.btn,
.form-control {
    border-radius: 0;
}

.productDetails .borderInformation {
    border: 1px #DDDDDD solid;
    margin-bottom: 20px;
}

.productName {
    font-size: 40px;
    font-weight: 900;
}

.sliderProduct {
    background-color: #f6f6f6;
}

    .sliderProduct .sliderPhoto {
        max-width: 100%;
        height: 550px;
    }

.thumbnailImageProduct ul {
    list-style-type: none;
    display: flex;
    /* padding: 0; */
}

    .thumbnailImageProduct ul li .thumbnailImage {
        width: 70px;
        height: 50px;
    }

.bidTime {
    padding: 16px;
    background-color: #03f;
    color: white;
    text-align: center;
}

    .bidTime .closesIn,
    .timeBid {
        font-size: 25px;
    }

    .bidTime .notBid {
        font-size: 15px;
    }

.bid {
    margin: 17px 15px;
    padding: 0px;
    background-color: white;
    color: black;
}

    .bid .titleBid .textSubject {
        font-size: 16px;
        font-weight: 700;
    }

.currentBid .titleBid .textSubject {
    font-size: 25px;
    font-weight: 700;
}

.currentBid .nRPrice {
    font-size: 15px;
    color: #919397;
}

.bid .notFee {
    font-size: 15px;
    margin-bottom: 16px;
}

    .bid .notFee a {
        color: #919397;
    }

.bid .sellerLocation .locationName {
    font-size: 12px;
}

.bid .samplePrice {
    padding: 0 !important;
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 16px;
}

.bid .bidForm {
    padding: 13px 16px;
    height: 48px;
}

.bid .bidButton {
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 0px;
}

.bid .bidHistory span {
    font-size: 13px;
}

.bid .modelBid .modal-content {
    padding: 15px;
    font-size: 15px;
    border-radius: 0;
}

.bid .modelBid .modal-title {
    font-size: 30px;
    font-weight: 700;
}

.bid .modelBid .modal-body b {
    font-size: 30px;
}

.ortherInfo {
    padding: 20px 0;
}

    .ortherInfo div ul {
        list-style: none;
        padding-left: 15px;
    }

        .ortherInfo div ul li {
            padding: 5px 0px;
        }

            .ortherInfo div ul li span {
                padding-left: 8px;
                font-size: 14px;
            }

    .ortherInfo .payment span {
        padding: 5px 5px;
        color: #8d8a8a;
    }

    .ortherInfo .shareLOT span {
        margin: 5px 0px;
    }

        .ortherInfo .shareLOT span a {
            padding: 0px;
            color: white;
        }

.productDLSS #accordionDLSS {
    margin-top: 20px;
    border-radius: 0;
}

.productDLSS .card {
    border-style: none;
}

    .productDLSS .card .card-header {
        background-color: white;
        border-style: none;
    }

        .productDLSS .card .card-header button {
            font-size: 21px;
            font-weight: 700;
            color: black;
            padding-bottom: 6px;
        }

    .productDLSS .card .card-body {
        font-size: 17px;
    }

        .productDLSS .card .card-body p {
            color: #919397;
        }

.ourExpertsSeller p {
    color: #919397;
    font-size: 14px;
    margin: 0px;
    padding-bottom: 8px;
}

.author div p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.seller .sellerName {
    padding: 0px;
    margin-bottom: 5px;
}

.seller div p {
    font-size: 15px;
    margin: 0px;
}


.card {
    border-radius: 0;
    border: 0;
}

.userInformation {
    background-color: #F8F9FA;
}

    .userInformation .card {
        background-color: #F8F9FA;
        margin-bottom: 20px;
    }

    .userInformation .card-body {
        padding: 0;
    }

        .userInformation .card-body .useImage {
            width: 150px;
        }

        .userInformation .card-body .userName {
            font-size: 20px;
        }

.userOrtherInfo {
    font-size: 15px;
}

    .userOrtherInfo .row {
        margin: 20px 0;
    }

        .userOrtherInfo .row .col-9 {
            padding-left: 0;
        }

.userAction {
    padding-left: 0;
}

    .userAction .auctionHistory,
    .invoices,
    .wishLists {
        margin: 20px 0px;
    }

.invoices,
.wishLists, .productList, .auctionHistory table {
    font-size: 13px;
}
